<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look at me!</h1>
      <h4 class="subheader">There is nothing I can't solve with my guinea pig.</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/dodamandme2.png" />
      <p>My name is Dana and I'm currently a 4th year student and teacher assistant in Georgia Tech. I am also a highly motivated front-end developer seeking an entry-level full time/ internship position that provides an opportunity to capitalize my technical skills and abilities in the IT field. I love building mobile and web applications that are user-friendly, and I enjoy starting on new side projects to challenge myself. </p>
      <p>Anyways, that is a photo of me coding with my best friend. I love to code wherever I go with my pet guinea pig, and he sometimes help me get some ideas when I get stuck! I recommend you adopt a guinea pig if you are having trouble solving an issue and Googling and StackOverFlow is not enough help.</p>
    </div>
  </main>
</body>
</html>