<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look at me!</h1>
      <h4 class="subheader">little bit more about me</h4>
    </div>
    <div class="content">
      <img class="aboutimg" src="/images/pfp.jpg"/>
          <h1 align="left" style="font-size: 40px">Hello!</h1>
         <p>I am currently a student majoring Computer Science at Georgia Tech. I have done some projects on Mobile Applications, and also love to play around with my code to build something new. I am innately a curious individual, and learn new material very quickly.</p>
         <h1 align="left" style="font-size: 40px">As a developer,</h1>
         <p>I like to code from scratch and build a functional application. I speak Java, python, Javascript, and C, and have experience using Github, Android Studio, Unity, and Terminal. </p>
         <h1 align="left" style="font-size: 40px">As a designer,</h1>
         <p>I genuinely enjoy building a simple prototype with appealing design and user friendly interaction. I have created the User Interface for several mobile applications such as a StartUp project called Tunnect, and used Adobe XD. I also enjoy designing logos. </p>
          <h1 align="left" style="font-size: 40px">As a leader, </h1>
          <p>I am compassionate, and love to help others who needs a hand. I taught undergraduate Korean Computer Science students how to build a game with C, and also taught high school students different subjects such as Physics and Math.</p>
   
    </div>
  </main>
</body>
</html>