<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <header>
    <% include ../helpers/navbar %>
  </header>
  <div class="page-header">
    <img src="/images/escrw.png" width="500px" />
    <h4>UI Developer</h4>
    <h1>Hi, I'm Dana. Nice to meet you!</h1>
    
  </div>
  <div class="content" align = "center">
    <div class="square">
    <p>I am completing a undergraduate degree in Computer Science at Georgia Institute of Technology in May 2019.</p>
    <p>I have experience in Mobile and Web Application Developments, and also built games in different platforms such as Unity and VBA.</p>
    <p>I am interested in a position as UI Developer or Software Developer in the IT field.</p>
    
    <img src="/images/web-iconsw.png" width="500px" />
  </div>
    
<!--     <button class="btn btn-default" type="button" onclick="myFunction()">
      Try it
    </button> -->
  </div>
  <div id="doge-image"/>

</body>

</html>