<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look what I did!</h1>
    </div>
    <div class="container">
      <div class="code-container">
        <div>
<!--           <div class="square"> -->
          <h4>Work Experience</h4>
          <h3>UI Developer Internship @ JKLaw USA</h3>
          <p>Collaborated with a small team of student developers to update the user interface of the webiste</p>
          <p>Implemented email service using SMTP mail service</p>
          <p>Javascript    HTML    CSS</p>
          <!-- </div> -->
      </div>
    <div class="container">
      <div class="code-container">

        <div>

          <h4>Featured Project</h4>
          <h3>College Common Application Mobile App</h3>
          <p>A mobile app for South African students who are applying for secondary and tertiary schools. View college list, their statistics, and create your own profile and application to apply for colleges in South Africa. The application locally saves progress in case of loss of internet connection, and automatically uploads to database whenever internet is available.</p>
      </div>
    </div>
    <div class="code-container">

      <div>
        <h3>Spootify</h3>
        <p>Everyone's favorite mystical music app. I learned so much about desktop applications and also making a product that lots of people like to get really aggressive about when they compare it to lesser services like Rdio (rip). Spootify changed the whole world and make iTunes look like trash and also saved people a lot of money and time when it got them to stop downloading music.</p>
      </div>
    </div>
    <div class="code-container">

      <div>
        <h3>Gargle</h3>
        <p>Search for anything! The world is your oyster! This is one of my favorite projects because it gave me the skills and manpower to eventually take over the world. Think of anything.... it's on Gargle.</p>
      </div>
    </div>
  </main>
</body>
</html>