<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look what I did!</h1>
    </div>
    <div class="container">
      <div class="code-container">
        <div>
<!--           <div class="square"> -->
          <h4>Work Experience</h4>
          <h3>UI Developer Internship @ JKLaw USA</h3>
          <p>Collaborated with a small team of student developers to update the user interface of the webiste</p>
          <p>Implemented email service using SMTP mail service</p>
          <p>Javascript    HTML    CSS</p>
          <!-- </div> -->
      </div>
    <div class="container">
      <div class="code-container">

        <div>

          <h4>Featured Project</h4>
          <h3>College Common Application Mobile App</h3>
          <p>• A mobile app for South African students who are applying for secondary and tertiary schools. View college list, their statistics, and create your own profile and application to apply for colleges in South Africa. The application locally saves progress in case of loss of internet connection, and automatically uploads to database whenever internet is available.</p>
      </div>
    </div>
    <div class="code-container">

      <div>
        <h3>Twitter-like Android Application using Kotlin</h3>
        <p>• With different libraries such as OkHttp3, Picasso, and Fuel, I connected the android application to an online website with full-authentication while running the application. The application uses ajax calls to get authentication from the http server, using the web service API. Once login is authenticated, the user can post new feeds, view them and add comments, and also change profile images.</p>
      </div>
    </div>
    <div class="code-container">

      <div>
        <h3>Pirated Identity - Unity Game</h3>
        <p>Did I mention that I love to play games? I had an opportunity to create 3D game in Unity platform with very unique team members. I was responsible for creating animated cut scenes, coming up with the idea, and adding features to the character play, such as type changing of the character and her attack moves.</p>
      </div>
    </div>
  </main>
</body>
</html>